<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ch_08.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ch_10.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ch_11.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ch_12.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ch_13.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ch_14.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>ch_16.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>ch_17.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>ch_20.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>cpp_study.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C113815721AA90520034EA02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C16DB2E0217C68F0000E0430</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C176A983213BF76C00F1BD5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C180309921B43F74008DB38F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1B2823C21EC87010045C266</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1C470BE21E392440086DDD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1CDFFE621BD4CCF0094AB7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
